header {
  width: 100%;
  height: auto;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7);
  transition: box-shadow 0.3s;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header section {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
header section nav {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 80px;
  border-radius: 50px;
}
.logo img {
  width: 80px;
  height: 80px;
  border-radius: 20px;

  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
.logo p {
  font-size: 22px;
  font-family: "Sprintura Demo", sans-serif;
  color: #f1edf3;
}
header section nav ul {
  display: flex;
  gap: 30px;
  width: 750px;
  margin-top: 10px;
}
header section nav ul li {
  list-style: none;
}
header section nav ul li a {
  display: inline-block; /* Inline-block qilish */
  position: relative;
  font-size: 16px;
  color: #f7f8f8;
}
header section nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  width: 100%;
  height: 3px;
  background: rgb(245, 245, 247);
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}
header section nav ul li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.seraich {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  width: 380px;
  max-width: 500px;
  overflow: hidden;
  transition: width 0.5s ease;
  z-index: 1000;
  margin-right: 20px;
}
.seraich input {
  width: 330px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(200px);
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: 1px 20px 20px 1px rgb(255, 255, 255);
  font-size: 18px;
  color: rgb(219, 236, 236);
  transition: border-color 0.3s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  margin-left: 10px;
  display: none;
}
.seraich input::placeholder {
  font-size: 18px;
  color: rgb(219, 236, 236);
}
.seraich input:focus {
  color: #bac6cd;
  font-size: 18px;
  outline: none;
}
.seraichinput:not(:focus) {
  font-size: 18px;
  color: rgb(219, 236, 236);
}

.seraich svg {
  width: 28px;
  height: auto;
  cursor: pointer;
  color: #fff;

  box-sizing: 1px 20px 20px 1px rgb(255, 255, 255);
}
.seraich svg::after {
  display: none;
}
/* til kritish */

.d-inline-block select {
  text-align: center;
  margin: 0 auto;
  color: white;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 99;
  border: none;
}

.d-inline-block option {
  border-radius: 3px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: 0 200px 200px 0 red;
  cursor: pointer;
  color: black;
}
.d-inline-block option:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.d-inline-block option:focus {
  background: aquamarine;
  border-radius: 10px;
}
.select-items div {
  padding: 10px;
  cursor: pointer;
}
.select-items div:hover {
  backdrop-filter: blur(30px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0;
  box-shadow: rgb(255, 255, 255);
  border-radius: 3px;
}
