* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: y mandatory;

  overflow-y: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(3, 31, 46),
    rgb(13, 86, 124),
    rgb(3, 31, 46)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
main {
  min-height: 100vh;
}
button {
  transition: 0.3s ease;
}
body ul li {
  font-weight: bold;
}
.content {
  background: linear-gradient(to bottom, #f0f0f0, #ccc);
}
