* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    rgb(3, 31, 46),
    rgb(13, 86, 124),
    rgb(3, 31, 46)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
main {
  min-height: 100vh;
}
button {
  transition: 0.3s ease;
}
body ul li {
  font-weight: bold;
}
.content {
  background: linear-gradient(to bottom, #f0f0f0, #ccc);
}
.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  pointer-events: none; /* Kursor ustida bo'lsa, boshqa elementlarga ta'sir qilmasligi uchun */
  transform: translate(
    -50%,
    -50%
  ); /* Markazga joylash**
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5); /* Nur jilolari */
  transition: background-color 0.3s, box-shadow 0.3s; /* O'zgarishlar uchun */
}
