* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: y mandatory;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(3, 31, 46),
    rgb(13, 86, 124),
    rgb(3, 31, 46)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
main {
  min-height: 100vh;
}
button {
  transition: 0.3s ease;
}
body ul li {
  font-weight: bold;
}
.content {
  background: linear-gradient(to bottom, #f0f0f0, #ccc);
}
button {
  width: 190px;
  height: 35px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 10px;
  transition: 0.5s ease;
  color: rgb(255, 255, 255);
  font-size: 14px;
  background: rgb(12, 141, 167);
  font-size: 18px;
}
button:hover {
  transform: scale(1.02);
  border: 1px solid aquamarine;
  color: aquamarine;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7);
}
