.carousel {
  margin: 70px auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 75px; /* Gorizontal surish uchun */
}

.carousel-item {
  width: 1000px; /* Har bir divning kengligi */
  height: 700px; /* Ustma-ust joylash */
  border-radius: 15px;
  background: url("static/img/decaratsion_img/a_futuristic_repre_image_.jpg");
}
.reclom .welcom {
}
.reclom .writing {
  height: auto;
  backdrop-filter: blur(80px);
  background-color: rgba(223, 210, 223, 0.1);
  border-radius: 10px;
}
.reclom .writing h3 {
  font-size: 59px;
  color: rgb(45, 102, 102);
  text-align: center;
}
.reclom .info {
  background: url(../../img/decaratsion_img/an_artistic_repres_image_.jpg);
}
.reclom .info_dele {
  background: url(../../img/decaratsion_img/anvirus_img.jpg);
}
.antivrus {
  width: 100px;
  height: 1000px;
  background: red;
}
