footer {
  width: 100%;
  height: auto;
  background-color: rgb(3, 31, 46);
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  width: auto;
  height: auto;
  padding: 20px 15px;
}
footer section .logo_qator {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer section .logo_qator img {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
footer section .logo_qator p {
  color: #fff;
}
footer section ul {
}
footer section ul li {
  list-style: none;
}
footer section ul li a {
  display: inline-block;
  font-size: 20px;
  color: rgb(248, 249, 249);
}

footer section .muallif_ququqi p {
  color: #fff;
}
