header {
  width: 100%;
  height: auto;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7);
  transition: box-shadow 0.3s;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
header section nav {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 80px;
  border-radius: 50px;
}
.logo img {
  width: 80px;
  height: 80px;
  border-radius: 20px;

  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
.logo p {
  font-size: 22px;
  font-family: "Sprintura Demo", sans-serif;
  color: #f1edf3;
}
header section nav ul {
  display: flex;
  gap: 30px;
  width: 750px;
  margin-top: 10px;
}
header section nav ul li {
  list-style: none;
}
header section nav ul li a {
  display: inline-block; /* Inline-block qilish */
  position: relative;
  font-size: 16px;
  color: #f7f8f8;
}
header section nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  width: 100%;
  height: 3px;
  background: rgb(245, 245, 247);
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}
header section nav ul li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.seraich {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 400px;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(113, 36, 36, 0.1);
  box-sizing: 1px 20px 20px 1px rgb(219, 8, 8);
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
.seraich input {
  width: 330px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  backdrop-filter: blur(200px);
  background-color: rgba(11, 9, 11, 0.1);

  font-size: 18px;
  color: rgb(219, 236, 236);
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
.seraich input::placeholder {
  font-size: 18px;
  color: rgb(219, 236, 236);
}
.seraich input:focus {
  color: #bac6cd;
  font-size: 18px;
}
.seraichinput:not(:focus) {
  font-size: 18px;
  color: rgb(219, 236, 236);
}
.seraich label svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  color: #fff;
}
#dropdown_items {
  width: auto;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7);
  transition: 0.3s ease;
}
