{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="../static/css/style.css" />
<section class="detall_antivir">
  <div class="box_tool">
    <div class="title_icon">
      <img src="" alt="no photo" />
      <h4>Anvir name</h4>
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
      tenetur, maiores repellendus consectetur vel odit aut vero omnis error
      possimus quam reprehenderit odio porro enim deleniti iure distinctio.
      Possimus, veritatis!
    </p>
    <a href=""><button>Yuklash</button></a>
  </div>
</section>
<div class="card">
  <div class="card-body">
    <img
      src="{{ object.image.url }}"
      class="card-img-top rounded d-block shadow-lg"
      alt="{{ object.name }}"
      style="width: 40rem"
    />
    <h1 class="card-title">{{ object.name }}</h1>
    <a
      href="{{ object.download_link }}"
      target="_blank"
      class="btn btn-outline-success"
      >yuklash</a
    >
    <p class="card-text">{{ object.summary | safe }}</p>
  </div>
</div>
{% endblock %}
