<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <header>
      <section>
        <nav>
          <a href="{% url 'home' %}" class="logo">
            <img
              src="../static/img/logo/a_logo_design_that_image_.jpg"
              alt="no photo"
            />
          </a>
          <ul>
            <li>
              <<<<<<< HEAD
              <a href="{% url 'home' %}" class="belgi_local">Bosh sahifa</a>
              =======
              <a href="" class="belgi_local">Bosh sahifa</a>
              >>>>>>> bf82305290a69efdf862f73cc3ab614fef27841f
            </li>
            <li><a href="">Antivruslar</a></li>
            <li><a href="">Dasturlar</a></li>
            <li><a href="">OS</a></li>
            <li>
              <a href="">Windows</a>
            </li>
          </ul>
        </nav>
        <button class="button_menu" id="draggable">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1665/1665778.png"
            alt="no photo"
          />
        </button>
        <div class="seraich">
          <input type="text" placeholder="Qidiruv..." id="seraich" />
          <label for="seraich">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </label>
        </div>
      </section>
    </header>
    <!-- <main>{% block content %} {% endblock content %}</main> -->
    <footer></footer>
  </body>
</html>
