{% extends 'base.html' %}
{% block content %}
    {% for os in object_list %}
        <section class="antvir_contayner">
          <a href="{% url 'os-detail' os.pk %}">
            <div class="box_baner">
              <img src="{{ os.image.url }}" alt="no photo" />
              <div class="baner_info">
                <h2>{{ os.name }}</h2>
                <div class="box_info">
                  <p class="text_info">{{ os.summary }}...</p>
                  <p class="no_money">Bepul</p>
                </div>
              </div>
            </div>
          </a>
        </section>
    {% endfor %}
{% endblock %}
