.section_antivrus {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 120px;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  border-radius: 15px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
.paragrif {
  display: flex;
  justify-content: space-between;
}
.section_antivrus h2 {
  color: rgb(237, 239, 240);
  font-size: 45px;
}
.programm_reclom {
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

a .reclom_box {
  width: 280px;
  height: auto;
  border-radius: 15px;
  background: blue;
  padding-bottom: 6px;
  backdrop-filter: blur(200px);
  background-color: rgba(190, 86, 25, 0.1);
  box-sizing: 0 200px 200px 0 red;
  border-radius: 10px;
  transition: 0.3s ease;
}
a .reclom_box:hover {
  transform: scale(1.05);

  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
}
.reclom_box img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.reclom_box h4 {
  font-size: 18px;
  color: aliceblue;
  margin-top: 7px;
  margin-left: 5px;
}
.container_list {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 80;
  position: absolute;
  margin: 0 auto;
  font-size: 18px;
}
.container_list ul {
  width: 1110px;
  height: auto;
  margin: 0 auto;
}

.container_list ul li a {
  color: azure;
}
.container_list ul li {
  box-shadow: 0 0 3px rgba(149, 240, 248, 0.7); /* Nur effekti */
  border-radius: 10px;
  border-radius: 10px;
}
.container_list ul li:hover {
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7);
  cursor: pointer;
}
.container_list p {
  width: 1110px;
  height: auto;
  margin: 0 auto;
  color: azure;
}
