.carousel {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 70px;
}

.carousel-item {
  width: 1200px;
  height: 700px;
  border-radius: 15px;
}
.item {
  width: 100%;
  height: 100px;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  border-radius: 0 0 15px 15px;
  margin-top: 600px;
}
.item h3 {
  color: aqua;
  font-size: 48px;
  text-align: center;
}
.welcom_box {
  background: url("../../img/decaratsion_img/a_futuristic_repre_image_.jpg");
  background-size: cover; /* Rasmni to'liq qoplash */
  background-repeat: no-repeat; /* Rasmni takrorlamaslik */
  background-position: center;
}
.os_box {
  background: url(../../img/decaratsion_img/an_artistic_repres_image_.jpg);
  background-size: cover; /* Rasmni to'liq qoplash */
  background-repeat: no-repeat; /* Rasmni takrorlamaslik */
  background-position: center;
}
.anti_box {
  background: url(../../img/decaratsion_img/anvirus_img.jpg);
  background-size: cover; /* Rasmni to'liq qoplash */
  background-repeat: no-repeat; /* Rasmni takrorlamaslik */
  background-position: center;
}
.section_antivrus {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 120px;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  border-radius: 15px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
.section_antivrus h2 {
  color: rgb(237, 239, 240);
  font-size: 45px;
}
.programm_reclom {
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.reclom_box {
  width: 280px;
  height: 450px;
  border-radius: 15px;
  background: blue;
  padding: 6px;
  backdrop-filter: blur(200px);
  background-color: rgba(14, 13, 14, 0.1);
  box-sizing: 0 200px 200px 0 red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(149, 240, 248, 0.7); /* Nur effekti */
  transition: box-shadow 0.3s;
}
